<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<main class="col-4 offset-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="well bs-component" id="submision">
                    <form method="post" action="#" class="form-horizontal">
                        <fieldset>
                            <legend>Create exam</legend>
                            <div class="form-group">
                                <label for="code" class="col-lg-2 control-label">Name</label>
                                <div class="col-lg-10">
                                    <textarea name="code" id="code"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-primary submit">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(document).on('submit', '#submision > form', function () {
                var submisions = $(this).serializeObject();
                $.postJSON('/submission/create', submisions).done(function (data) {
                    
                })
                return false;
            });
        });
    </script>
</main>
</html>