<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<main class="col-4 offset-4 text-center">
    <div class="container">
        <div id="tabs">
            <ul>
                <li th:each="task, iter: ${examTasks.tasks}"><a th:href="@{'#tabs-'+${iter.index}}" th:text="${task.title}"></a></li>
            </ul>
            <div th:each="task, iter: ${examTasks.tasks}" th:id="'tabs-'+${iter.index}">
                <p th:text="${task.description}"></p>
                <div class="well bs-component text-left" id="submision">
                    <form method="post" action="#" class="form-horizontal">
                        <fieldset>
                            <legend>Create exam</legend>
                            <div class="form-group">
                                <label for="java-code" class="col-lg-2 control-label">Name</label>
                                <div>
                                    <textarea id="java-code" name="code" class="java-code-textarea"></textarea>
                                    <input type="hidden" name="examId" th:value="${examTasks.id}">
                                    <input type="hidden" name="taskId" th:value="${task.id}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-primary submit">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $("#tabs").tabs();
        });
        var textEditor = document.getElementsByClassName("java-code-textarea");
        Array.prototype.forEach.call(textEditor, function (element) {
            var javaEditor = CodeMirror.fromTextArea(element, {
                lineNumbers: true,
                matchBrackets: true,
                mode: "text/x-java"
            });
        })
        $(document).ready(function() {
            $(document).on('submit', '#submision > form', function () {
                var submisions = $(this).serializeObject();
                console.log(this);
                $.postJSON('/api/submission/create', submisions).done(function (data) {

                })
                return false;
            });
        });

    </script>
</main>
</html>