<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<main>
    <div class="container">
        <div class="bs-docs-section">

            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <div class="jumbotron">
                            <h1>Jumbotron</h1>
                            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>News</h2>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td class="text-left">
                            <a href="test">Test data</a>
                            <p class="text-right">18/12/2016</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h2>Previous contents</h2>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td class="text-left">
                            <a href="test">Test data</a>
                            <p class="text-right">18/12/2016</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h2>Upcoming contests</h2>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td class="text-left">
                            <a href="test">Test data</a>
                            <p class="text-right">18/12/2016</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
